@model MVCDay1.Models.Movie
@{
    ViewBag.Title = "Details";
}
@if (Model == null)
{
    <label>no movie exists</label>
}
else
{
    <h2>Details of @Model.Name</h2>
    <ul class="list-group">
        <li class="list-group-item">Director Name:@Model.DirectorName</li>
        <li class="list-group-item">Genre:@Model.Genre.GenreName</li>
        <li class="list-group-item">Release Date:@Model.ReleaseDate</li>
    </ul>

}
<br />
<br />
<h6>@Html.ActionLink("Back To List","Index","Movies",null,new { @class = "btn btn-primary" })</h6>
<div class="row">
    <div class="col-md-3 mt-2">
        @using (Html.BeginForm("Delete", "Movies", new { id=Model.Id},FormMethod.Post))
        {
            <button id="CmdDelete" type="submit" class="btn btn-outline-primary">Delete</button>
        }
    </div>
</div>



